$color--menu: #333;
$color--primary: #0071b8;
$color--primary-ligther: #1f86c7;

$v-align: 30px;
$v-align--medium: $v-align/2;

/**
 * Admin menu
 */
.toolbar-tray-horizontal {
    .toolbar-menu-administration > .toolbar-menu >  .menu-item {
        z-index: 2;
        background-color: transparent;

        & > a:hover,
        &:hover > a {
            color: #fff;
            text-decoration: underline;
            background-color: transparent;
        }

        ul.toolbar-menu {
            box-shadow: 2px 2px 5px rgba(0,0,0,.3);
        }
        li.menu-item {
            border-left: 0;
        }
        li.menu-item--expanded {
            background-position: center right 5px;
        }
    }
    ul li.menu-item--expanded .menu-item.hover-intent ul {
        margin-left: 200px;
    }
    .menu-item .menu-item {
        background-color: #f5f5f2;
    }
}

/**
 * Page title
 */
.adminimal h1,
.adminimal .heading-a {
    margin: $v-align--medium 0 $v-align;
}


/**
 * User Role
 */
body:not(.role--super-admin) {
    .js-form-item-roles-super-admin {
        display: none;
    }
}


/**
 * Layout node
 */
.layout-region-node-main,
.layout-region-node-footer {
    width: 75%;
}
.layout-region-node-secondary {
    width: 25%;
}

/* ==========================================================================
   Form
   ========================================================================== */
.taxonomy-term-form,
.layout-region-node-main {
    details {
        margin: 2em 0;
    }
    .form-wrapper {
        margin: $v-align--medium 0 $v-align;
    }
    details.horizontal-tabs-pane {
        margin: $v-align--medium 0 0;
        padding: 0;
    }
    td > .form-wrapper {
        margin: 0;
    }
    .form-item {
        &:not(.form-type-checkbox):not(.form-type-radio) {
            margin: 0 0 $v-align--medium;
        }
    }
    input.form-autocomplete,
    input.form-text,
    input.form-tel,
    input.form-email,
    input.form-url,
    input.form-search,
    input.form-number,
    input.form-color,
    input.form-file,
    input.form-date,
    input.form-time,
    textarea.form-textarea {
        padding-top: .6em;
        padding-bottom: .6em;
    }

    label {
        margin-bottom: 6px;
    }

    .paragraph-top {
        margin: 0 0 (-$v-align--medium);

        & > * {
            margin: 0;
        }
    }
    .paragraphs-subform {
        margin-top: $v-align;
    }
}
.details-description {
    margin-bottom: $v-align--medium/2;
}
.form-composite > legend {
    margin-bottom: 5px;
}

.draggable a.tabledrag-handle {
    height: auto;
}
a.tabledrag-handle .handle {
    //background-position: 6px 12px;
}


/**
 * Paragraphs
 */
.js .field--widget-paragraphs .field-multiple-drag {
    vertical-align: middle;
}

/* ==========================================================================
   CKEditor
   ========================================================================== */
.adminimal {
    .filter-wrapper {
        display: none;
    }
    .field-config-form .filter-wrapper {
        display: block;
    }
}

/* ==========================================================================
   Tabs
   ========================================================================== */
.horizontal-tabs {
    ul.horizontal-tabs-list {
        li,
        li.selected {
            a {
                padding: 15px 20px;
            }
        }
    }
    .horizontal-tab-button {
        padding: 0;

        a {
            transition: .3s;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 5;
                width: 100%;
                height: 0;
                transition: height .3s;
            }

            &:hover,
            &:focus {
                background: #fff;

                &:after {
                    height: 3px;
                    background: $color--primary;
                }
            }
        }
    }

    .form-radios,
    .form-checkboxes {
        & > .form-item {
            display: inline-block;
            margin-top: 8px;
            margin-right: 12px;
        }
    }

    details.horizontal-tabs-pane {
        margin: 0;
        border: 0;
    }
}


.field--widget-link-default {
    .form-type-entity-autocomplete label,
    .description {
        display: none;
    }
    div.form-type-textfield {
        margin-top: 8px;

        label,
        input {
            display: inline-block;
        }
    }
}



/* ==========================================================================
   ENTITY BROWSER
   ========================================================================== */
// Form add/edit
form.entity-browser-form {
    .description {
        br {
            display: none;
        }
    }
    .field--name-revision-log-message {
        display: none;
    }
}
// Field entity browser
.form-wrapper .entities-list {
    margin: 0;

    .rendered-entity {
        position: relative;

        .media--type-image {
            img {
                max-width: 60%;
            }
            & ~ .button {
                position: absolute;
                z-index: 20;
                top: $v-align;
                right: $v-align;
            }
            & ~ .remove-button {
                top: $v-align + 50px
            }
        }
        &[id*="document"] {
            margin: 0 $v-align $v-align--medium 0;
        }

    }
}

.media-document-edit-form {

}



/* ==========================================================================
   Field push
   ========================================================================== */
.field--type-push {
    table tr td .form-item {
        margin: 8px 0;
    }
    .push-link {
        .form-wrapper > legend,
        .form-wrapper > .fieldset-wrapper,
        .form-item > label,
        .form-item > input,
        .description {
            display: inline-block;
            margin-right: 8px;
        }
    }
}
