/* ==========================================================================
   Variables
   ========================================================================== */
@import "../../../drup_theme/styles/src/configs/variable.scss";

$color--menu: #333;
$color--text: #000;
$color--primary: #0071b8;
$color--primary-ligther: #1f86c7;

$color--background-secondary: #f3f4f9;
$color--background-tertiary: #e6ecf8;

$color--background-button: #d8d9e0;
$color--background-button--hover: #c2c3ca;


/* ==========================================================================
   Includes
   ========================================================================== */
@import "base";
@import "modules/tabs";
@import "modules/form";
@import "modules/button";
@import "modules/media";
@import "modules/block";
@import "modules/nav";