$color--menu: #333;
$color--primary: #0071b8;
$color--primary-ligther: #1f86c7;

$v-align: 30px;
$v-align--medium: $v-align/2;


/**
 * User Role
 */
body:not(.role--super-admin) {
    .js-form-item-roles-super-admin {
        display: none;
    }
}

.draggable a.tabledrag-handle {
    height: auto;
}


/**
 * Paragraphs
 */
.js .field--widget-paragraphs .field-multiple-drag {
    vertical-align: middle;
}

/* ==========================================================================
   CKEditor
   ========================================================================== */
form {
    .filter-wrapper {
        display: none;
    }
}


/* ==========================================================================
   ADMIN BLOCK FROM DRUPBLOCKADMIN
   ex : /admin/structure/block/manage/factories_list?destination=/pommier&drup-blocks-context=node/6
   ========================================================================== */
body.is-drup-block-admin {
    padding-top: 0 !important;

    .content-header {
        margin-top: -4rem;
        margin-bottom: 1rem;
    }

    #toolbar-administration,
    .block-local-tasks-block,
    .region-breadcrumb,
    #edit-settings-admin-label,
    .block-form .js-form-item-settings-label,
    .block-form .js-form-item-settings-label-display,
    .block-form .form-type-vertical-tabs,
    #edit-block-region-wrapper,
    #edit-actions .button--danger {
        display: none;
    }
}
