/* ==========================================================================
   Rows
   ========================================================================== */
.row {
    position: relative;
    width: 100%;
    max-width: $row--normal;
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid--gutter-width;
    padding-right: $grid--gutter-width;
    box-sizing: border-box;
    @include clearfix();
}
.row--small {
    max-width: $row--small;
}
.row--full {
    max-width: none;
}


/* ==========================================================================
   Layouts
   ========================================================================== */
.l-wrapper {
    @include grid-wrapper();
}
.l-half {
    @include grid-col-init();
    @include grid-col-set(default, 12);
    @include grid-col-set(smartphone, 6);
}
.l-twothird {
    @include grid-col-init();
    @include grid-col-set(default, 12);
    @include grid-col-set(tablet, 8);
}
.l-third {
    @include grid-col-init();
    @include grid-col-set(default, 12);
    @include grid-col-set(smartphone, 6);
    @include grid-col-set(tablet, 4);
}
.l-quarter {
    @include grid-col-init();
    @include grid-col-set(default, 12);
    @include grid-col-set(smartphone, 6);
    @include grid-col-set(tablet, 3);
}
.l-full {
    @include grid-col-init();
    @include grid-col-set(default, 12);
}

.l-sidebar {
    @include grid-wrapper();

    .content-body {
        @include grid-col-init();
        @include grid-col-set(default, 12);
        flex: 1;
    }
    .content-sidebar {
        @include grid-col-init();
        @include grid-col-set(default, 12);

        @include media-breakpoint-min(tablet) {
            flex: 0 0 520px;
            max-width: 520px;
        }
    }
}


/* ==========================================================================
   PAGE
   ========================================================================== */
.page {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    transition: transform .3s;
    box-sizing: border-box;
}

/* ==========================================================================
   Header
   ========================================================================== */
.mainHeader {
    padding-top: $v-align--medium;
    padding-bottom: $v-align--medium;
    background-color: $color--background-secondary;
}


/* ==========================================================================
   Contenu
   ========================================================================== */
.content-before {
    position: relative;
    margin-bottom: $v-align;
    padding-top: $v-align--medium;
}
.content-title {
}

.content-subtitle {
}

.content-body {
    margin-bottom: $v-align;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.mainFooter {
    padding-top: $v-align--medium;
    padding-bottom: $v-align--medium;
    background-color: $color--background-secondary;
}
.mainFooter-inner {
}
