<div class="block block--">
    <div class="row">
        {% if title %}
            <h2 class="block-title">{{ title }}</h2>
        {% endif %}

        {% include directory ~ '/templates/partials/block-admin-btn.html.twig' with {} %}

        {% if items %}

        {% endif %}
    </div>
</div>
