// Styleguide Blocks

.block {
    position: relative;
    z-index: 1;
    padding-top: $v-align;
    padding-bottom: $v-align;
    box-sizing: border-box;

    &.l-narrow {
        padding-top: 0;
        padding-bottom: 0;
    }

    .block--view {
        margin-bottom: 0;
        padding: 0;
    }

    .sidebar & {

    }
}
.block-inner {

}

.block-header {
    margin-bottom: $v-align;
    text-align: center;
}
.block-title {
    margin-bottom: $v-align--medium;
    @include font(primary, bold);
    text-align: center;

    span {
        display: block;
    }
}
.block-content {
    margin-bottom: $v-align;
}
.block-image {

}
.block-footer {
    margin-top: $v-align;
    margin-bottom: $v-align--medium;
    text-align: center;
}

.block-admin-btn {
    margin-bottom: $v-align--medium;
    padding: $v-align--medium 0;
    border-top: 1px solid rgba(#000, .15);
    text-align: center;
    background-color: rgba(#000, .03);
}

/* ==========================================================================
   Variantes globales
   ========================================================================== */
.block--view {
    padding: 0;

    .block-title {
    }

    .content-views & {

    }
}


/*
Markup: url()->find(.block--primary)

Styleguide Blocks - 1.block--primary
*/
.block--primary {

}
