// Styleguide Buttons

/*
:hover    - Bouton au survol
:disabled - Bouton désactivé
.btn--primary - Principal

Markup: <button class="btn $modifierClass">Bouton</button>

Styleguide Buttons - 1.btn
 */
.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $btn--padding-vertical $btn--padding-horizontal;
    @include font(primary);
    font-size: $btn--fontsize;
    line-height: $btn--lineheight;
    text-decoration: none;
    text-transform: uppercase;
    border: $btn--border-width solid;
    border-radius: $btn--border-radius;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s;

    @include btn-states-default() {
        color: $btn--color;
        border-color: $btn--border-color;
        background-color: $btn--background;
    }
    @include btn-states-user() {
        color: #fff;
        border-color: $color--primary;
        background-color: $color--primary;
    }

    &:focus {
        outline: 0;
    }

    &.is-disabled,
    &:disabled {
        opacity: .5;
        cursor: default;
    }

    /* Sizes
       ========================================================================== */
    &.l-small {

    }
}

button {
    cursor: pointer;
    background-color: $btn--background;
    border: 0;

    &:focus {
        outline: 0;
    }

    &.btn {
        min-height: $btn--height;
    }
}


/*
Btn primary

Markup: url()->find(.btn--primary)

Styleguide Buttons - 10.btn--primary
*/
.btn--primary {
    @include btn-states-default() {
        color: #fff;
        background-color: $color--primary;
        border-color: $color--primary;
    }
    @include btn-states-user() {
        background-color: $color--secondary;
        border-color: $color--secondary;
    }
}



/*
Bouton secondaire :

Markup: url()->find(.btn--secondary)

Styleguide Buttons - 15.btn--secondary
*/
.btn--secondary {
    @include btn-states-default() {
    }
    @include btn-states-user() {
    }
}


/*
Bouton tertiaire :

Markup: url()->find(.btn--tertiary)

Styleguide Buttons - 20.btn--tertiary
*/
.btn--tertiary {
    @include btn-states-default() {
    }
    @include btn-states-user() {
    }
}



/*
Bouton lien : arrow

Markup: url()->find(.btn--link)

Styleguide Buttons - 30.btn--link
*/
.btn--link {
    @include btn-states-default() {
    }
    @include btn-states-user() {
    }
}
