/* ==========================================================================
   Formulaires
   ========================================================================== */
form {
    position: relative;
    margin-bottom: $v-align;
    @include font(primary);

    &:focus {
        outline: 0;
    }
}
.form-group,
.form-wrapper,
.form-item {
    margin-bottom: $v-align--medium;
}

label,
legend,
.form-group-title {
    display: block;
    margin-bottom: .3em;
    @include font(primary, bold);
}

label.js-form-required,
.fieldset-custom[required="required"] .fieldset-legend {
    &:after {
        content: " *";
        color: red;
    }
}


form {
    input,
    select,
    textarea {
        &[disabled],
        &[readonly],
        &:disabled {
            opacity: .5;
            cursor: default;
        }

        &:not([readonly]):focus {
            outline: 0;
            border-color: $color--primary;
        }
    }

    .description {

    }
}
.form-text,
.form-number,
.form-email,
.form-tel,
.form-select,
.form-search,
.form-textarea {
    display: block;
    width: 100%;
    height: $input--height;
    padding: $input--padding-vertical $input--padding-horizontal;
    color: $input--color;
    font-family: inherit;
    font-size: $input--fontsize;
    line-height: $input--lineheight;
    background-color: $input--background;
    border: $input--border-width solid $input--border-color;
    border-radius: $input--border-radius;
    box-sizing: border-box;
    transition: border-color .3s;

    // Placeholders
    @include input-placeholder() {
        color: $color--text;
        opacity: 1;
    }

    &.error {
        border-color: $notice--error-color;
    }

    // Sizes
    &.l-big {

    }
}
.form-textarea {
    height: auto; // use #rows
    resize: vertical;
}
.form-type-radio,
.form-type-checkbox {
    label {
        display: inline;
        vertical-align: middle;
        margin-left: .5em;
    }
}
.form-checkboxes {
    &.checkboxes-inline {
        .form-item {
            display: inline;
            margin-right: $grid--gutter-width;
        }
    }
}
.js-form-type-radio,
.js-form-type-checkbox {
    .form-item & {
        margin-bottom: 0;
    }

    label {
        @include font(primary, light);
    }
}

.js input.form-autocomplete {
    background: none;
}

.captcha {
     margin: $v-align--medium 0;
 }
.g-recaptcha {
    & > div {
        margin-left: auto;
    }
}

.form-item--error-message {
    padding-top: 4px;
    color: $notice--error-color;
    font-style: italic;
    font-size: $fontsize--small;
}


/* Submit
   ========================================================================== */
.form-actions {
    text-align: right;
}
.form-submit {
}


/* ==========================================================================
   WEBFORMS
   ========================================================================== */
.form--webform {

}
.webform-options-display-side-by-side > div {
    vertical-align: top;
    margin-right: 1.5em;
}


/* ==========================================================================
   Views Forms exposed
   ========================================================================== */
.views-exposed-form {
    &[data-bef-auto-submit-full-form] {
        .form-actions {
            @include sr-only();
        }
    }
}


/* ==========================================================================
   Login
   ========================================================================== */
.form--login {
    .form-actions {
        padding-top: $v-align--medium;
    }
    .form-item-reset {
        margin-top: $v-align--medium;

        a {
            color: $color--text-lighter;

            @include btn-states-user() {
                color: $color--text;
            }
        }
    }

    /* Responsive
       ========================================================================== */
    @include media-breakpoint-min(smartphone) {
        max-width: 300px;
        margin: 0 auto;
    }
}