// Styleguide Icons

.icon {
    &:before {
        @include font-icon;
    }
}
.btn.icon,
p.icon {
    &:before {
        top: -1px;
        vertical-align: middle;
        margin-right: .6em;
    }
}

/*
.icon--name - \unicode

Markup: <span class="icon $modifierClass"></span>

Styleguide Icons - 1.icon
*/
.icon--edit:before {
    content: '';
}