.logo {
    a,
    img {
        display: block;
    }
    img {
        max-width: none;
    }
}


/* ==========================================================================
   LOGO PRINCIPAL ()
   ========================================================================== */
.logo--primary {
    img {
        width: 200px;
    }
}


/* ==========================================================================
   LOGO SECONDAIRE ()
   ========================================================================== */
.logo--secondary {
}
