// Styleguide Navigation

.nav {
    .nav-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    p,
    ul,
    ol {
        margin-bottom: 0;
    }
    li {
        list-style: none;
    }

    a {
        position: relative;
        display: block;
        line-height: 1.4;
    }

    .active {
        color: inherit;
    }
}


/*
Navigation principale

Markup: url()->find(.nav--main)

Styleguide Navigation - 10.nav--main
*/
.nav--main {

}


/*
Navigation secondaire

Markup: url()->find(.nav--secondary)

Styleguide Navigation - 15.nav--secondary
*/
.nav--secondary {
}


/*
Navigation footer

Markup: url()->find(.nav--footer)

Styleguide Navigation - 20.nav--footer
*/
.nav--footer {

}


/*
Fil d'ariane

Markup: url()->find(.nav--breadcrumb)

Styleguide Navigation - 30.nav--breadcrumb
*/
.nav--breadcrumb {
    margin-bottom: $v-align--medium;
    font-size: $fontsize--tiny;

    .nav-item {
        margin-bottom: 8px;
    }

    a {
        display: inline;
        padding: 5px 0;
        color: inherit;
        @include customHover();
    }

    .item-separator {
        margin: 0 .6em 0 .4em;
        font-size: .7em;
        color: $color--primary;
    }
    li:last-of-type {
        @include font(primary, bold);
    }
}


/*
Pagination classique

Markup: url()->find(.nav--pager)

Styleguide Navigation - 40.nav--pager
*/
.nav--pager {
    margin: $v-align--medium auto;
    text-align: center;

    a {
        display: inline-block;
    }

    .pager-items {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Load more
       ========================================================================== */
    &.load-more {

    }
}


/*
Social items

Markup: url()->find(.nav--social)

Styleguide Navigation - 50.nav--social
*/
.nav--social {
    font-size: 26px;

    a {
        padding: 5px 10px;
        line-height: 1;
    }
}


/*
Social share items

Markup: url()->find(.nav--social-share)

Styleguide Navigation - 55.nav--social-share
*/
.nav--social-share {
    font-size: $fontsize--big;

    //.icon--linkedin:before {
    //    color: $color--linkedin;
    //}
    //.icon--twitter:before {
    //    color: $color--twitter;
    //}
    //.icon--facebook:before {
    //    color: $color--facebook;
    //}
}
