// Styleguide Notices

/*
Markup: <div class="messages $modifierClass">Ce texte est mon message mis en forme selon le niveau de notice.</div>

.messages--status  - Message de succès
.messages--warning - Message de mise en garde
.messages--error   - Message d'erreur

Styleguide Notices - 1.messages
*/
.messages {
    position: relative;
    z-index: $zindex--default;
    width: 100%;
    margin: 0 auto $v-align;
    padding: $v-align--medium $grid--gutter-width;
    color: $notice--color;
    font-size: $notice--fontsize;
    border-top: 4px solid $color--primary;
    text-align: center;
    background: $notice--background;
    box-sizing: border-box;

    a {
        color: inherit;
        text-decoration: underline;
    }
    li {
        list-style: none;

        &:before {
            content: none;
        }
    }
    ul {
        margin: 0;
    }

    &:before {
        display: block;
        width: 2em;
        height: 2em;
        margin: 0 auto 1em;
        line-height: 2em;
        font-size: .8em;
        border: .25em solid $color--text;
        border-radius: 50%;
    }

    .krumo-root {
        text-align: left;
    }
}

.messages--status {
    border-top-color: $notice--success-color;

    &:before {
        @include font-icon(check);
        display: block;
        color: $notice--success-color;
        border-color: $notice--success-color;
    }
}
.messages--warning {
    border-top-color: $notice--warning-color;

    &:before {
        @include font-icon(warning);
        display: block;
        color: $notice--warning-color;
        border-color: $notice--warning-color;
    }
}
.messages--error {
    border-top-color: $notice--error-color;

    &:before {
        @include font-icon(error);
        display: block;
        color: $notice--error-color;
        border-color: $notice--error-color;
    }
}


/*
Message pour les navigateurs non optimisés

Markup: url()->find(.notice--browser)

Styleguide Notices - 10.notice--browser
*/
.notice--browser {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex--big;
    padding: 350px 15%;
    @include font(primary, bold);
    text-align: center;
    background: $color--background url("../../images/logo.png") no-repeat center 200px;
    background-size: 250px auto;
}
