// Styleguide Paragraphs

.paragraph {
    margin-bottom: $v-align;
}

/*
Type text

Markup: url()->find(.paragraph--type--text)

Styleguide Paragraphs - 10.paragraph--type--text
*/
.paragraph--type--text {

}

/*
Type document

Markup: url()->find(.paragraph--type--document)

Styleguide Paragraphs - 20.paragraph--type--document
*/
.paragraph--type--document {
    div {
        display: inline-block;
    }
    .file {
        display: block;
        margin: 0 $grid--gutter-width $v-align--medium 0;
    }
}

/*
Type image

Markup: url()->find(.paragraph--type--image)

Styleguide Paragraphs - 30.paragraph--type--image
*/
.paragraph--type--image {
    picture {
        img {
            margin: 0 auto;
        }
    }
}


/*
Type text + image

Markup: url()->find(.paragraph--type--text-image)

Styleguide Paragraphs - 40.paragraph--type--text-image
*/
.paragraph--type--text-image {
    @include media-breakpoint-min(tablet) {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        .item-media {
            max-width: 440px;
            flex-shrink: 0;
            overflow: hidden;
        }
        .item-body > div {
            margin-bottom: -$v-align--medium;
        }

        &.l-left {
            .item-media {
                order: -1;
            }
            .item-body {
                padding-left: $grid--gutter-inner-width;
            }
        }
        &.l-right {
            .item-media {

            }
            .item-body {
                padding-right: $grid--gutter-inner-width;
                text-align: right;
            }
        }
    }
}
