.paragraph {
    margin-bottom: $v-align;
}

/* ==========================================================================

   ========================================================================== */
.paragraph--type--text {

}

/* ==========================================================================
    
   ========================================================================== */
.paragraph--type--document {
    div {
        display: inline-block;
    }
    .file {
        display: block;
        margin: 0 $grid--gutter-width $v-align--medium 0;
    }
}

/* ==========================================================================

   ========================================================================== */
.paragraph--type--image {

}
