// Styleguide Sliders

.slider {
    position: relative;
    z-index: $zindex--small;

    .slider-item {
        position: relative;
        width: 100%;
        background: no-repeat center;
        background-size: cover;

        img {
            width: auto;
        }
    }
}

/*
Slider HP

Markup: url()->find(.slider--primary)

Styleguide Sliders - 10.slider--primary
*/
.slider--primary {
    .slider-item {

    }
}
