{#
/**
 * @see modules/.../drup_site/src/CookieNotice/Config.php
 * @see templates/partials/footer.html.twig
 * @link https://github.com/kevinbaubet/cookienotice
 */
#}
<div id="cookie-notice" data-config="{{ cookie_notice|raw }}"></div>