<footer class="mainFooter">
    <div class="mainFooter-inner row">
        {{ page.footer }}
    </div>
</footer>

{% if cookies_data %}
    {% include directory ~ '/templates/partials/cookie-notice.html.twig' %}
{% endif %}
