<header class="main-header">
    <div class="main-header-top">
        <div class="row">
            {{ page.header }}
        </div>
    </div>
    <div class="main-header-bottom">
        <div class="row">
            {{ page.navigation }}
        </div>
    </div>
</header>
