<header class="mainHeader">
    <div class="mainHeader-top">
        {{ page.header }}
    </div>
    <div class="mainHeader-bottom">
        <div class="row">
            {{ page.navigation }}
        </div>
    </div>
</header>
