{#
/**
 * Navigation des liens pour partager sur les réseaux sociaux
 *
 * Variables :
 *  - items[]
 *
 */
#}
<nav class="nav nav--social nav--social-share">
    <ul class="nav-menu">
        {% for item in items %}
            {% if item.share_url %}
                <li class="nav-item">
                    <a href="{{ item.share_url }}" title="{{ 'Share this article on @media'|t({'@media': item.title}) }}" target="_blank">
                        <span class="sr-only">{{ item.title }}</span>
                        <span class="icon icon--{{ item.id }}"></span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>