<nav class="nav nav--social">
    <ul class="nav-menu">
        {% for id, item in items %}
            {% if item.url %}
                <li class="nav-item">
                    <a href="{{ item.url }}" title="{{ "Visit our @media page"|t({'@media': id|capitalize}) }}" target="_blank">
                        <span class="sr-only">{{ item.title }}</span>
                        <span class="icon icon--{{ id }}"></span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
