{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
    <nav class="nav nav--breadcrumb" aria-label="{{ "Breadcrumb"|t }}">
        <ol class="nav-menu">
            {% for i, item in breadcrumb %}
                {% if item.url %}
                    <li class="nav-item">
                        <a href="{{ item.url }}">{{ item.text }}</a>
                        <span class="item-separator icon icon--arrow"></span>
                    </li>
                {% else %}
                    <li class="nav-item" aria-current="page">
                        {{ item.text }}
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endif %}
