/* ==========================================================================
   Tabs
   ========================================================================== */
.tabs a {
    transition: .3s;
}
.claro-details {
    padding-bottom: 1px;
}
.horizontal-tabs {
    border: 0;

    // Onglets
    ul.horizontal-tabs-list {
        display: flex;
        background: $color--background-secondary;
        border: 0;

        li.horizontal-tab-button {
            background: none;
            border: 0;

            a {
                padding: 1rem 2rem;
                border-radius: 2px 2px 0 0;
                transition: .3s;

                &:hover {
                    background-color: $color--background-tertiary;
                }
            }
            &.selected a {
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background: $color--primary;

                }
            }
        }
    }

    // Contenu des onglets
    .horizontal-tabs-panes {
        .horizontal-tabs-pane {
            margin-top: 0;
            padding-top: 1px;
            padding-bottom: 1px;
        }
    }
}